<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
    <link rel="stylesheet" href="/../styles/style.css">
</head>
<body>

<div class="container">
    <div class="title">
        <h1 class="title__h1">Редактировать</h1>
        <hr class="title__hr">
    </div>

    <form class="main-menu main-menu_entity" th:method="patch"
          th:action="@{/genres/{id}(id=*{id})}" th:object="${genre}">

        <input class="menu-item text-input" type="text" placeholder="Название" th:field="*{name}">

        <div class="menu-item menu-item_entities">
            <input class="menu-item__button menu-item__text" type="submit">
        </div>
    </form>

    <div class="main-menu main-menu_entities main-menu_entities_no-margin">
        <div class="menu-item menu-item_entities">
            <a class="menu-item__text" th:href="@{/genres/{id}(id=${genre.getId()})}">Назад</a>
        </div>
    </div>
</div>
</body>
</html>