<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="container">
    <div class="title">
        <h1 class="title__h1">Добро пожаловать</h1>
        <hr class="title__hr">
    </div>

    <div class="main-menu">
        <div class="menu-item">
            <a href="/people" class="menu-item__text">Посетители</a>
        </div>

        <div class="menu-item">
            <a href="/books" class="menu-item__text">Книги</a>
        </div>

        <div class="menu-item">
            <a href="/genres" class="menu-item__text">Жанры</a>
        </div>

        <div class="menu-item">
            <a href="/authors" class="menu-item__text">Авторы</a>
        </div>
    </div>
</div>
</body>
</html>