<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="container">
    <h1>WELCOME!</h1>
    <div class="main-menu">
        <a href="/people" class="main-menu__item">people</a>
        <a href="/books" class="main-menu__item">books</a>
        <a href="/genres" class="main-menu__item">genres</a>
        <a href="/authors" class="main-menu__item">authors</a>
    </div>
</div>
</body>
</html>